<% include ../partials/header.ejs %>

  <div class="main">
    <div class="inner">
      <div class="row">
        <!-- new phonebank -->
        <section>
          <h2>Add a New Phonebank</h2>
          <form action="/phonebank/add" method="POST">
            <!-- Candidate Name -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="candidate" placeholder="Candidate Name">
              </div>
            </div>
            <!-- Office Running -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="office" placeholder="Office Sought">
              </div>
            </div>
            <!-- Political Party -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="party" placeholder="Political Party">
              </div>
            </div>
            <!-- Link -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" name="link" placeholder="Link (start with http or https)">
              </div>
            </div>
            <!-- Intended Date -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input data-toggle="datepicker" type="text" class="form-control" name="callDate" placeholder="Call Date">
                <script type="text/javascript">
                  $('[data-toggle="datepicker"]').datepicker();
                </script>
              </div>
            </div>
            <!-- Location -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="location" placeholder="Location">
              </div>
            </div>
            <!-- Zipcode -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="zipcode" placeholder="Zipcode">
              </div>
            </div>
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <button type="submit" class="button special">Add Phonebank</button>
              </div>
            </div>
          </form>
        </section>
        <!-- new campaign -->
        <section>
          <h2>Add a New Campaign</h2>
          <form action="/campaign/add" method="POST">
            <!-- Candidate Name -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="candidate" placeholder="Candidate Name">
              </div>
            </div>
            <!-- Office Running -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="office" placeholder="Office Sought">
              </div>
            </div>
            <!-- Political Party -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="party" placeholder="Political Party">
              </div>
            </div>
            <!-- Link -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" name="link" placeholder="Link (start with http or https)">
              </div>
            </div>
            <!-- Election Date -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input data-toggle="datepicker" type="text" class="form-control" name="electionDate" placeholder="Election Date">
                <script type="text/javascript">
                  $('[data-toggle="datepicker"]').datepicker();
                </script>
              </div>
            </div>
            <!-- Location -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="location" placeholder="Location">
              </div>
            </div>
            <!-- Zipcode -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <input type="text" class="form-control" name="zipcode" placeholder="Zipcode">
              </div>
            </div>
            <!-- Submit button -->
            <div class="row uniform">
              <div class="6u 12u$(xsmall)">
                <button type="submit" class="button special">Add Campaign</button>
              </div>
            </div>
          </form>
        </section>
      </div>
    </div>
  </div>

<% include ../partials/footer.ejs %>
