<% include ../partials/header.ejs %>

  <div class="main">
    <div class="inner">

      <section>
        <h2>Add a New Phonebank</h2>
        <form action="/phonebank/add" method="POST">
          <!-- Candidate Name -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="candidateName" placeholder="Candidate Name">
            </div>
          </div>
          <!-- Office Running -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="officeRunning" placeholder="Office Running">
            </div>
          </div>
          <!-- Political Party -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="politicalParty" placeholder="Political Party">
            </div>
          </div>
          <!-- Link -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" name="phonebankLink" placeholder="Link to the Phone Bank">
            </div>
          </div>
          <!-- Intended Date -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="intendedDate" placeholder="Intended Date">
            </div>
          </div>
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <button type="submit" class="button special">Add Phonebank</button>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>

<% include ../partials/footer.ejs %>
