<% include ../partials/header.ejs %>

  <div class="main">
    <div class="inner">

      <section>
        <h2>Add a New Phonebank</h2>
        <form action="/phonebank/add" method="POST">
          <!-- Candidate Name -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="candidate" placeholder="Candidate Name">
            </div>
          </div>
          <!-- Location -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="location" placeholder="Location">
            </div>
          </div>
          <!-- Office Running -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="office" placeholder="Office Sought">
            </div>
          </div>
          <!-- Political Party -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="party" placeholder="Political Party">
            </div>
          </div>
          <!-- Link -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" name="link" placeholder="Link to the Phone Bank">
            </div>
          </div>
          <!-- Intended Date -->
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <input type="text" class="form-control" name="callDate" placeholder="Call Date">
            </div>
          </div>
          <div class="row uniform">
            <div class="6u 12u$(xsmall)">
              <button type="submit" class="button special">Add Phonebank</button>
            </div>
          </div>
        </form>
      </section>

    </div>
  </div>

<% include ../partials/footer.ejs %>
