<% include ./partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
      <% if (locals.user) { %>
        <p> Welcome, <%=user.givenName%></p>
        <form id="logoutForm" action="/logout" method="post">
          <input type="submit" value="Logout"/>
        </form>
      <% } else {%>
        <p> Welcome to HLS - Yale United, ready to get started? </p>
        <p> <a href="/login"> Login </a> </p>
        <p> <a href="/register"> Register </a> </p>
      <% } %>
    </div>
  </div>

<% include ./partials/footer.ejs %>
