<% include ./partials/header.ejs %>

<!-- Main -->
  <div id="main">
    <div class="inner">
      <header>
        <p>Etiam quis viverra lorem, in semper lorem. Sed nisl arcu euismod sit amet nisi euismod sed cursus arcu elementum ipsum arcu vivamus quis venenatis orci lorem ipsum et magna feugiat veroeros aliquam. Lorem ipsum dolor sit amet nullam dolore.</p>
      </header>
      <section class="tiles">
        <article class="style1">
          <span class="image">
            <img src="images/pic01.jpg" alt="" />
          </span>
          <a href="/phonebank">
            <h2>Phonebank</h2>
            <div class="content">
              <p>The most comprehensive collection of Phone Bank.</p>
            </div>
          </a>
        </article>
        <article class="style2">
          <span class="image">
            <img src="images/pic02.jpg" alt="" />
          </span>
          <a class="routeB" href="#">
            <h2>Donate</h2>
            <div class="content">
              <p>Make a donation to your local candidate.</p>
            </div>
          </a>
          <script>

            $('a.routeB').click(function(popup) {

              swal({
                title: "Insert your zipcode",
                text: "This will allow us to pre-populate candidates in your districts.",
                type: "input",
                inputType: "text",
                showCancelButton: true,
                closeOnConfirm: false

              }, function(zipcode) {

                if (zipcode === "") {
                  swal.showInputError("You need to input your location in order to do this!");
                      return false;
                }

                $.ajax({
                  url: "/api/phonebank?=" + zipcode,
                      type: "GET"
                })

              });
            });

          </script>
        </article>

        <article class="style3">
          <span class="image">
            <img src="images/pic03.jpg" alt="" />
          </span>
          <a href="generic.html">
            <h2>Feugiat</h2>
            <div class="content">
              <p>Sed nisl arcu euismod sit amet nisi lorem etiam dolor veroeros et feugiat.</p>
            </div>
          </a>
        </article>
      </section>
    </div>
  </div>

<% include ./partials/footer.ejs %>
