<% include ./partials/header.ejs %>

  <div class="container">
    <% if (locals.user) { %>
      <!-- Welcome Message -->
      <form id="logoutForm" class="form-inline" action="/logout" method="post">
        Welcome, <%=user.fullName%>.
        <button class="btn btn-link" type="submit" value="Logout"/>Logout</button>
      </form>

      <!-- Individual Action -->
      <div class="jumbotron">
        <div id="accordion" role="tablist" aria-multiselectable="true">
        <!-- Action 1 -->
        <div class="card">
          <div class="card-header" role="tab" id="headingOne">
            <h5 class="mb-0">
              <a data-toggle="collapse" data-parent="#accordion" href="#collapseOne" aria-expanded="true" aria-controls="collapseOne">
                <i class="fa fa-university" aria-hidden="true"></i> Individual Action
              </a>
            </h5>
          </div>
          <div id="collapseOne" class="collapse show" role="tabpanel" aria-labelledby="headingOne">
            <div class="card-block">
              <!-- Find Organizational Support -->
              <p>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseFindOrgSupport" aria-expanded="false" aria-controls="collapseFindOrgSupport">
                  <i class="fa fa-life-ring" aria-hidden="true"></i> Communcating Support or Discontent
                </button>
              </p>
              <div class="collapse" id="collapseFindOrgSupport">
                <div class="card card-block">
                  <ul>
                    <li><a href="/petition">Petition</a></li>
                  </ul>
                </div>
              </div>
              <!-- End of Find Organizational Support -->
              <!-- Basic Services -->
              <!-- <p>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseBasicServices" aria-expanded="false" aria-controls="collapseBasicServices">
                  <i class="fa fa-road" aria-hidden="true"></i> Basic Services
                </button>
              </p>
              <div class="collapse" id="collapseBasicServices">
                <div class="card card-block">
                  Please refer to these external source for tools and services for your campaign
                </div>
              </div> -->
              <!-- End of Basic Services -->
              <!-- List yourself on our Wiki page -->
              <!-- <p>
                <button class="btn btn-link" type="button" data-toggle="collapse" data-target="#collapseListOnWiki" aria-expanded="false" aria-controls="collapseListOnWiki">
                  <i class="fa fa-user" aria-hidden="true"></i> List Yourself on our Wiki Page
                </button>
              </p>
              <div class="collapse" id="collapseListOnWiki">
                <div class="card card-block">
                  Please fill out the following information to be listed on our Wiki page. All information
                  will be automatically populated on our Wiki page.
                </div>
              </div> -->
              <!-- End of Basic Services -->
          </div>
        </div>

        <!-- Frustration -->
        <div class="card">
          <div class="card-header" role="tab" id="headingTwo">
            <h5 class="mb-0">
              <a class="collapsed" data-toggle="collapse" data-parent="#accordion" href="#collapseTwo" aria-expanded="false" aria-controls="collapseTwo">
                <i class="fa fa-paper-plane" aria-hidden="true"></i> File a Frustration
              </a>
            </h5>
          </div>
          <div id="collapseTwo" class="collapse" role="tabpanel" aria-labelledby="headingTwo">
            <div class="card-block">
              This is a dummy text.
            </div>
          </div>
        </div>

      </div>
      </div>

    <% } else {%>
      <!-- Welcome message for non-user -->
      <p> Welcome to HLS - Yale United, ready to get started? </p>
      <p> <a href="/login"> Login </a> </p>
      <p> <a href="/register"> Register </a> </p>
    <% } %>
  </div>

<% include ./partials/footer.ejs %>
