<% include ./partials/header.ejs %>

  <div class="container">
    <div class="jumbotron">
      <h1> Hello! </h1>
      <% if (locals.user) { %>
        <p> Welcome, <%=user.fullName%> </p>
        <form action="/logout" method="POST">
          <p><input type="submit" value="Logout"></p>
        </form>
      <% } else {%>
        <p> Welcome to my app, ready to get started? </p>
        <p> <a href="/login"> Login </a> </p>
        <p> <a href="/register"> Register </a> </p>
      <% } %>

<% include ./partials/footer.ejs %>
