<% include ./partials/header.ejs %>

  <div class="container-fluid">
    <table class="table">
      <thead>
        <!-- Column name -->
        <tr>
          <th>#</th>
          <th>Candidate Name</th>
          <th>Office Running</th>
          <th>Political Party</th>
          <th>Link</th>
          <th>Intended date to call</th>
        </tr>
      </thead>
      <tbody>
        <tr>
          <th scope="row">1</th>
          <td>Mark</td>
          <td>Senator</td>
          <td>Republican</td>
          <td>http://example.com</td>
          <td>May 11, 2017</td>
        </tr>
      </tbody>
    </table>
  </div>

<% include ./partials/footer.ejs %>
