<% include ./partials/header.ejs %>

<!-- Main -->
  <div id="main">
    <div class="inner">
      <!-- show any messages that come back with authentication -->
      <% if (message.length > 0) { %>
          <div class="alert alert-danger"><%= message %></div>
      <% } %>
      <!-- SIGNUP FORM -->
      <h2>Signup</h2>
      <form action="/signup" method="post">
        <div class="row uniform">
          <div class="6u 12u$(xsmall)">
            <label>Email</label>
            <input type="email" name="email" id="email" placeholder="Email">
          </div>
          <div class="6u$ 12u$(xsmall)">
            <label>Password</label>
            <input type="password" name="password" id="password" value="" placeholder="Password">
          </div>
        </div>
        <div class="12u$">
          <ul class="actions">
            <li><input type="submit" value="Signup" class="special"></li>
          </ul>
        </div>
      </form>
      <p>Already have an account? <a href="/login">Login</a></br>
      Or go <a href="/">home</a>.</p>
    </div>
  </div>

<% include ./partials/footer.ejs %>
